# eclipse
.classpath
.project
.metadata/
.settings/
.recommenders/
bin/
.factorypath
.apt_generated

# gradle
.gradle/
build/
libs/

# custom
.build/
*.log*

# lwjgl mucking about
/lwjgl3/*
!/lwjgl3/build.gradle
!/lwjgl3/ant-delegate*
